@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap");

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.head {
    padding: 36px 0px;
    display: flex;
    flex-direction: row;
    background-color: rgb(230 230 230 / 82%);
    width: 100%;
    box-shadow: 0 2px 60px 0 rgb(0 0 0 / 10%), 0 2px 60px 0 rgb(0 0 0 / 30%);
    position: absolute;
}

header .title {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin: 4% 4%;
    width: 250px;
    position: absolute;
    background-color: rgba(146, 44, 64, 0.9);
    padding: 2% 4%;
    color: rgb(230 230 230);
    align-self: flex-end;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 48px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 31%);
}

.title h1 {
    margin: auto;
}

.menu-icon {
    position: absolute;
    margin: -15px 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-items ul {
    display: none;
    margin: 0 auto 0 auto;
    flex-direction: column;
}

.menu-items ul li {
    width: 100px;
    margin: 0.2em;
}

.principal {
    background-color: rgb(128 45 45);
}

.banner img {
    width: 100%;
}

.services-list ul {
    position: absolute;
    margin: 30% 0% 0% 6%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    background-color: rgb(195 195 195 / 66%);
    font-weight: bold;
    padding: 18px;
    border-radius: 8px;
    color: #000000e3;
    width: auto;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 31%);
}

.services-list ul li {
    padding: 6px 0px;
}

.services {
    background-color: rgb(128 45 45);
    padding: 40px 0px 50px 0px;
}

.cards-container {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
}

.card {
    background-color: white;
    box-shadow: 0 4px 28px 0 rgb(0 0 0 / 63%);
    transition: 0.3s;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 22%;
    height: 240px;
    margin-left: 8%;
    margin-top: 2%;
}

.card img {
    width: 120px;
    margin-bottom: 20px;
}

.card .info {
    font-size: 18px;
    text-align: center;
}
