* {
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.head {
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: rgb(230 230 230 / 82%);
    width: 100%;
    box-shadow: 0 2px 60px 0 rgb(0 0 0 / 10%), 0 2px 60px 0 rgb(0 0 0 / 30%);
    position: absolute;
}

header .title {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin: 4% 4%;
    width: 250px;
    position: absolute;
    background-color: rgba(146, 44, 64, 0.9);
    padding: 2% 4%;
    color: rgb(230 230 230);
    align-self: flex-end;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 48px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 31%);
    font-style: italic;
}

.title h1 {
    margin: auto;
}

.menu-icon {
    display: none;
    position: absolute;
    margin: 22px 40px;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.menu-icon img {
    cursor: pointer;
    width: 34px;
    margin-top: 2px;
}

.menu-icon a {
    cursor: pointer;
    margin: 5px 0px 0px 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-items ul {
    display: flex;
    font-size: 23px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin: 24px 0px 0px 100px;
}

.menu-items ul li {
    padding-right: 70px;
    cursor: pointer;
}

.menu-items ul li:hover {
    font-size: 24px;
}

.sidenav {
    height: 100%;
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    font-family: Roboto, sans-serif;
    background-color: rgb(230 230 230);
    z-index: 2;
    text-align: center;
    box-shadow: 0 2px 60px 0 rgb(0 0 0 / 10%), 0 2px 60px 0 rgb(0 0 0 / 30%);
}

.sidenav a {
    padding: 48px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgba(150, 52, 72);
}

.sidenav .closebtn {
    position: absolute;
    top: -28px;
    right: 84px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.principal {
    background-color: rgb(128 45 45);
    padding-bottom: 8px;
}

.banner img {
    width: 100%;
}

.list ul {
    position: absolute;
    margin: 30% 0% 0% 6%;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    background-color: rgb(195 195 195 / 66%);
    font-weight: 600;
    padding: 18px;
    border-radius: 8px;
    color: #000000e3;
    width: auto;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 31%);
    font-family: Roboto, sans-serif;
}

.list ul li {
    padding: 6px 0px;
}

#about {
    padding: 40px 0px 60px 0px;
    text-align: center;
    background-color: rgb(233 233 233 / 40%);
}

#about h2 {
    margin-bottom: 48px;
    color: rgb(136 34 34);
}

#about .about-description {
    margin: 0px 80px;
    font-size: 28px;
    font-family: Roboto, sans-serif;
}

#services {
    background-color: rgb(128 45 45);
    padding: 40px 0px 50px 0px;
    text-align: center;
}

#services h2 {
    margin-bottom: 18px;
    color: #ffffff;
}

.cards-container {
    display: inline-block;
    width: 100%;
}

.card {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    box-shadow: 0 4px 28px 0 rgb(0 0 0 / 63%);
    transition: 0.3s;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 25%;
    height: 242px;
    margin: 2% 0% 0% 6%;
    float: left;
    position: relative;
}

.card .card-description {
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 8px;
}

.card-description ul li {
    margin: 10px 0px 12px 0px;
    font-size: 18px;
}

.card:hover .card-description {
    opacity: 1;
}

.card img {
    width: 120px;
    margin-bottom: 20px;
}

.card .info {
    font-size: 18px;
    text-align: center;
}

#projects {
    padding: 30px 0px 60px 0px;
    text-align: center;
    background-color: rgb(233 233 233 / 40%);
}

#projects h2 {
    margin-bottom: 42px;
    color: rgb(136 34 34);
}

.slideshow {
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 800px;
    margin: 0px auto;
}

.slider {
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
}

.slick-list {
    height: 500px;
}

.slideshow .item {
    height: 100%;
    position: relative;
    z-index: 1;
}

.slideshow .item img {
    width: 100%;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.4);
}

.slideshow .item .slick-active img {
    transform: scale(1);
}

.slick-prev, .slick-next {
    color: #750000e0;
}

.slick-prev:before, .slick-next:before {
    color: rgb(121 0 0);
    font-size: 30px;
}

.slick-prev {
    left: -100px;
}

.slick-next {
    right: -80px;
}

.slick-dots {
    bottom: -46px;
}

.slick-dots li button:before {
    font-size: 10px;
}

#contact {
    padding: 40px 0px 60px 0px;
    background-color: rgb(128 45 45);
}

#contact h2 {
    margin-bottom: 70px;
    color: #ffffff;
    text-align: center;
}

#contact .contact-info {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

.contact-info .info-item:first-child {
    margin: 0px 70px 0px 60px;
}

.contact-info p, .contact-info h3 {
    margin-bottom: 10px;
}

.contact-info .cellphone {
    display: flex;
}

.contact-info .cellphone img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

footer {
    background-color: rgb(128 45 45);
    border-top: 1px solid white;
}

footer .copyright {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 10px 0px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .head {
        position: relative;
    }

    header .title {
        font-size: 12px;
        margin: 12px 40px;
        width: 200px;
        padding: 0px 26px;
        height: 54px;
    }

    .menu-items {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .list ul {
        font-size: 26px;
        margin: 28% 0% 0% 6%;
    }

    #about h2 {
        margin-bottom: 30px;
    }

    #about .about-description {
        margin: 0px 40px;
        font-size: 24px;
    }

    .card {
        width: 38%;
        margin: 4% 0% 0% 8%;
    }

    .contact-info .info-item:first-child {
        margin: 0px 40px 0px 0px;
    }

    .slideshow .slick-prev, .slideshow .slick-next {
        display: none !important;
    }
}

@media (max-width: 768px) {
    header .title {
        font-size: 11px;
        margin: 12px 24px;
        padding: 0px 16px;
    }

    h2 {
        font-size: 38px;
    }

    .list {
        display: none;
    }

    #about .about-description {
        margin: 0px 20px;
        font-size: 20px;
    }

    .card {
        width: 44%;
        margin: 4% 0% 0% 4%;
    }

    #contact .contact-info {
        font-size: 18px;
    }

    .contact-info .info-item:first-child {
        margin: 0px 30px 0px 10px;
    }

    .slick-list {
        height: 100%;
    }
}

@media (max-width: 600px) {
    .menu-icon a {
        display: none;
    }

    header .title {
        font-size: 10px;
        padding: 0px 2px;
    }

    .card {
        width: 74%;
        margin: 6% 0% 0% 14%;
    }

    #projects {
        padding: 30px 0px 80px 0px;
    }

    .slick-dots {
        bottom: -70px;
    }

    #contact {
        padding: 40px 0px 20px 0px;
    }

    #contact h2 {
        margin-bottom: 50px;
    }

    #contact .contact-info {
        flex-direction: column;
    }

    .contact-info .info-item:first-child {
        margin: 0px 0px 30px 0px;
    }

    .contact-info .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    @media (max-width: 480px) {
        .menu-icon {
            margin: 22px 24px;
        }

        #about .about-description {
            font-size: 18px;
        }
    }
}
